.cart-item--image {
  height: 50px;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cart-item--form-control {
  width: 70px;
  margin-left: 10px;
}